/* PlaylistForm.css */

form {
  max-width: 450px;
  margin: 1rem auto;
  padding: 1.1rem;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 5px 4px 12px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#err-container {
  color: red;
  font-style: bold;
}

label {
  margin:0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #333;
  cursor: text;
}

input[type="text"] {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  /* box-shadow: 4px 5px 5px #1b1c1b; */
  transition: border-color 0.2s ease,transform 0.2s ease;
}

input[type="text"]:focus,input[type="text"]:hover {
  outline: none;
  border-color: #696c69; 
  transform: scale(1.03);
}
button:hover {
  border-color: #696c69;
  transform: scale(1.03);
}

button[type="submit"] {
  width: 7rem;
  color: rgb(255, 255, 255);
  padding: 1px;
  margin:.5rem;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow:1px 4px 8px #333433;
  font-family: 'Roboto';
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.spotify-convert-btn {
  background-color: #1db954;
}

.spotify-convert-btn:hover {
  background-color: #1aa34a;
  transform: scale(1.03);
}

.youtube-convert-btn {
  background-color: #ff0000;
}

.youtube-convert-btn:hover {
  background-color: #cc0000;
  transform: scale(1.03);
}

.home-btn {
  width: 5rem;
  color: rgb(255, 255, 255);
  padding: 1px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 4px 5px 5px #1b1c1b;
  font-family: 'Roboto';
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-btn:hover {
  border-color: #696c69;
  transform: scale(1.03);
}

.linkbox-container {
  height: 2rem;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}

.playlistLink {
  height: auto;
  margin: auto;
  max-width:350px;
  overflow-x: scroll;
  white-space: nowrap;
  
}

.copy-btn {
  height: 2rem;
  width: 2rem;
  padding:0;
  margin: 0;
  border-radius: 0;
  border-right: 2px solid black;
}


/* button[type="submit"]:hover {
  background-color: #1aa34a;
  transform: scale(1.03);
} */
